h1{
  color:white;
  text-align:center;
  font-family:"Arial";
  font-size:75px;
  }
h2{
  text-align:center;
}
img{
  width:250px;
  border:3px solid white;
  border-radius:15px;
}
p{
  width:500px;
  font-family:"Times New Roman";
  text-align:center;
}
body{
  background:#1E90FF;
}
#fp{
  text-align:center;
  margin-left: 36%;
}
li{
  display: inline-block;
  padding-left: 25px;
}
